.place__like {
    padding: 0;
    background: none;
    background-image: url(../../../images/like.svg);
    border: none;
    width: 22px;
    height: 19px;
  }
  
  .place__like:hover {
    opacity: 0.5;
    cursor: pointer;
  }