.form__field {
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  min-height: 27px;
  line-height: 17px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  outline: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.form__field + .form__field {
  margin-top: 30px;
}