.place__image {
  margin-bottom: 25px;
  display: block;
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.place__image:hover {
  opacity: .8;
  cursor: pointer;
}