.form__save {
  background-color: #000;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  text-align: center;
  line-height: 22px;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .form__save {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}

.form__save:hover {
  opacity: 0.8;
  cursor: pointer;
}