.form__save {
  background-color: #000;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  margin-top: 48px;
  text-align: center;
  line-height: 22px;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
}

.form__save:hover {
  opacity: 0.8;
  cursor: pointer;
}