.popup__close {
  position: absolute;
  top: -40px;
  left: 100%;
  background-image: url('../../../images/close.svg');
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  transition: opacity .8s ease 0s;
  background-color: rgba(0, 0, 0, 0);
  }
  
  .popup__close:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  
  @media (max-width: 600px) {
    .popup__close {
      top: -45px;
      left: calc(100% - 26px);
      width: 26px;
      height: 26px;
    }
  }
  