.profile__name {
  overflow: hidden;
  line-height: 33px;
  margin: 0 0 0 27px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .profile__name {
    line-height: 40px;
    font-size: 35px;
    max-width: 294px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .profile__name {
    line-height: 48px;
    font-size: 42px;
  }
}
