@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/content/__profile/content__profile.css);
@import url(../blocks/content/__places/content__places.css);

@import url(../blocks/footer/__copy/footer__copy.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__field/form__field.css);
@import url(../blocks/form/__field/_activity/form__field_activity.css);
@import url(../blocks/form/__field/_name/form__field_name.css);
@import url(../blocks/form/__save/form__save.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__footer/page__footer.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__content/place__content.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__like/place__like.css);
@import url(../blocks/place/__like/_active/place__like_active.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/popup/__container/popup__container.css);

@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__activity/profile__activity.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__heading/profile__heading.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);




















