.popup__title {
  margin: 0;
  font-family: 'Inter';
  color: #000;
  font-size: 24px;
  font-weight: 900;
  max-width: 330px;
  font-style: normal;
  line-height: 29px;
  padding: 34px 0 43px 36px;
}

@media screen and (max-width: 879px) {
  .popup__title {
      max-width: 238px;
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      padding: 25px 22px 45px 22px;
  }
}